*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iml
.gradle/
.idea/
bin/
out/
classes/
local.properties
build/

# Latex
*.log
*.out
*.pdf
*.synctex.gz
*.aux

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-build-debug/
*.cbp
*.a

lib/*/*
!lib/*/CMakeLists.txt

*_tests
