
.canvas-container{
    text-align: center;
    background-color: #ffffff;
}

footer {
    text-align: center;
    margin: 2em;
}

footer > * {
    display: inline-block;
}

.panel-heading > * {
    display: inline-block;
    vertical-align: middle;
}

.input-group {
    margin-bottom: 1em;
}

.form-control {
    height: 40px;
    font-size: 20px;
}

.btn-group-vertical > .btn-group > .btn {
    display: inline !important;
}

.ui-slider {
    background: #ebedef;
    border-radius: 32px;
    height: 12px;
    box-shadow: none;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.ui-slider-handle {
    background-color: #16a085;
    border-radius: 50%;
    cursor: pointer;
    height: 18px;
    position: absolute;
    width: 18px;
    z-index: 2;
    -webkit-transition: background .25s;
    transition: background .25s;
}

.ui-slider-range {
    background-color: #3498db;
    display: block;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.setting-label,
.setting-label > * {
    color: #464545;
    display: block;
}

.formula-input-label{
    width: 2em;
    display: block;
}

#presets {
    text-align: center;
    width: 100%;
}
.preset {
    font-size: 20px;
    display: block;
    padding: 0.5em;
    width: 100%;
    text-align: center;
    color: #464545;
}

.preset:hover {
    background-color: #c3c7c8;
    color: #464545;
    text-decoration: none;
}

#OutputHelper {
    font-size: 0;
    float: right;
}

#OutputHelper:hover, #OutputHelper:active, #OutputHelper:visited, #OutputHelper:focus {
    color: #2c3e50 !important;
}

.formula-input {
    border-right-width: 0;
}

.input-group-btn > .btn {
    color: #2c3e50;
    border: 2px solid #dce4ec;
    border-left-width: 0;
    line-height: 1.5;
    font-size: 13px;
    padding: 2px 5px 2px 8px !important;
}

.input-group-btn > .btn:hover {
    color: #c3c7c8;
}

#paypal > input[type=image] {
    border: 0;
}

#thankyou {
    display: none;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #ffa4b0;
}

#moreInfo {
    font-size: large;
}

.mega_link {
    font-size: x-large;
}